body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    $color1: rgb(10, 43, 151, 1),
    $color2: rgb(248, 246, 207, 1),
    $color3: rgb(42, 169, 152, 1),
    $color4: rgb(46, 23, 101, 1),
    $color5: rgb(134, 184, 72, 1)
  )};
